.haha{
    background-color: greenyellow;
    height: 400px;
    background-image: url("https://media0.giphy.com/media/lNGBcPWN2FEZEV7Ex3/giphy.gif?cid=ecf05e470axn6n0djaiao7utvp8db1ge5eirwcidkdd79ixk&rid=giphy.gif&ct=g");
    background-attachment: fixed;
    background-repeat: re;
}